{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Changez vos informations :)</h1>

    {{ include('registration/register.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home') }}">back to list</a>

    
{% endblock %}