/*<link rel="stylesheet" href="/css/style.css"> {% //block //stylesheet %}{% //endblock %}*/

/* remove browsers borders */

*{
    margin: 0;
}


/* principals elements */

p ,a {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: white;
}
/*  navigation */

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: goldenrod;
}

/* applique une taille horizontale et l'empêche de s'étirer sur toute la largeur */

#container {
    background-color: white;
    /* width: 100%; */
    /* margin-left: 30px; */
    margin: auto; /* centre toute la page à la hauteur de la taille de la largeur */

}

/* header */

/* empêche l'image de se dupliquer */

header {
    background: url("../img/3_bandes.png") no-repeat;
    width: 100%;
}

#logo {
    position: absolute;
    z-index: 2; /* permet le positionnement au dessus d'un background */
    margin: 0 0;
    width: auto;
}

#blocs {
    width: 100%;
    height: 180px;
    text-align: end;
}

#blocTop {
    height: 56px;
    margin-right: 100px;
}

#blocTop a {
    font-size: 20px;
    margin-right: 40px;
    color: darkblue;
}

#panier {
    position: relative;
    top: 10px;
}

#blocMidle {
    height: 54px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 135%;
    position: relative;
    top: 8px;
}

#blocMidle a {
    margin-right: 60px;
}

#blocBottom {
    height: 54px;
    color: white;
    font-size: 22px;
    text-align: center;
    top: 15px;
    position: relative;
    width: 125%;
    
}


#blocBottom a {
    margin-right: 7px;
    margin-left: 2px;
}


#pub {
    display: flex;
    margin: 30px;
    margin-top: 40px;
     
}

#promotion {
    width: 100%;
    margin-right: 2%;
    
}

#category {
    width: 100%;
    margin-left: 30px;
    
}

#usCategorys, #sales, #partners {
    padding-bottom: 2%;  
}

/* body */

#pictogrames {
    width: 100%;
    margin: 10px;
}

#category {
    font-size: 23px;
    color: darkblue;
    margin: 10px;
    
}

#category_partner {
    text-align: center;
    font-size: 23px;
    color: darkblue;
    display: flex;
    margin-left: 50px;
}

#bestSales {
    padding-right: 3%;
}


footer{
    background-color: black;
    color: white;
    width: 100%; 
}

#moreInfoFooter, #blockFooterBottom{
    text-align: center;
}

#donnerUnNom div{
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.flex{
    display: flex;
}

.f-center{
    justify-content: center;
}

/* La page d'inscription */

#h1Inscription {
    text-align: center;
    margin-top: 20px;
}

#inscription {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
   
}

fieldset {
    margin-top: -20px;
    text-align: center;
    border-radius: 10px;
    height: 510px;
    width: 400px;
  
}

label {
    display:block; 
    width:200px; 
    float:left;
}

.champs {
    border-radius: 5px;
    background-color: gainsboro;
}


#cadre {
    height: 400px;
    width: 350px;
    margin-top: 35px;
}


#pictogrames2 {
    text-align: center;
}

#partner2 {
    text-align: center;
}

.partnerRegister {
    height: 100px;
}

/* la page du tableau des utilisateurs */
#h1Tableau {
    text-align: center;
}
#tableau {
   width: 1200px;
    display: flex;
}

table {
    justify-content: center;
    margin: auto;
    margin-left: 150px;
    border: thin solid #000000;
    border-radius: 15px;
    width: auto;
    }
    td, th {
    border: thin solid #6495ed;
    border-radius: 5px;
    width: 50%;
    }

.instru {
    height:300px;
    width: 250px;
    margin-left: 10px;
}

