{% extends "base.html.twig" %}

{% block body %}
<p>
1. Qu’est-ce que le Modèle en trois volets ?
Le modèle tripartite est une façon de rassembler plusieurs aspects des “contrat sociaux” [les conventions d'un groupe de jeu, NdT] (1) en catégories logiques. Un contrat social [rôliste] complet contient toutes les facettes de comment une partie se joue : pas seulement la mécanique des règles, mais aussi comment les scénarios sont construits, le genre de comportement attendu des PJ, comment les actions non prises en compte par les règles sont résolues, la tolérance envers les distractions hors-jeu, etc. Le Modèle divise nombre de ces aspects en trois catégories, connues sous le nom de l’histoire (Drama), le jeu et la simulation.

Le modèle est basé sur l’acceptation du fait qu’il puisse y avoir des objectifs différents à jouer, tous aussi valides les uns que les autres. De nombreux modèles de JdR ou de nombreux joueurs emploient des étiquettes péjoratives telles que “grosbills” [munchkin], “poseurs”, “expert des règles” (2), etc. par opposition aux “vrais rôlistes”. Le Modèle Tripartite est conçu pour inciter les rôlistes à voir les différents styles simplement comme d’autres façons de jouer.

Les jeux de rôles ne sont pas simplement bons ou mauvais. Un même JdR peut être très apprécié d’un joueur et détesté par un autre. Plutôt que de dire que l’un ou l’autre a mauvais goût, il est plus utile de distinguer des schémas dans ce que différents joueurs et MJ apprécient. Le Modèle est une méthode de classification, qui répertorie les styles en fonction de leur degré d’orientation vers l’Histoire, le Jeu et/ou la Simulation.

Ce à quoi s’applique le Modèle est une question ouverte. On s’en sert souvent pour analyser les décisions d’un MJ quant à ce qui doit se passer dans l’univers du jeu pendant une session, et dans une moindre mesure pour la conception des aventures en cours de campagne. L’applicabilité du Modèle au reste du “contrat social” est discutable. Il peut ou non s’appliquer au comportement des joueurs, aux méthodes de hors-jeu, à la conception du système de règles, de la campagne, et à d’autres sujets.

2. Qu’est-ce que je préfère ? L’accent sur l’histoire, le jeu ou la simulation ?
Sans doute aucun des trois. Votre style personnel ne se résume pas à un seul mot tenant sur une étiquette. De manière plus intéressante, vous utilisez probablement un mélange de différentes techniques, et poursuivez plus d’un seul objectif. Peut-être êtes-vous plus proche d’un des sommets du triangle, mais vous appréciez sans doute le mélange.

3. Arrêtez de tourner autour du pot ! C’est quoi à la fin ?!
OK, voilà quelques petites définitions :

Narrativiste : ce style valorise la création d’une histoire satisfaisante à travers les actions à l’intérieur de la partie. Plusieurs sortes d’histoires peuvent être perçues comme satisfaisantes, selon les goûts de chacun, ce qui va de l’extravagante action pulp au drame psychologique réaliste. C’est le résultat final de l’histoire qui compte.

Ludiste : ce style valorise la création de défi digne de ce nom aux joueurs (et non aux PJ). Ce défi peut être du combat tactique, des énigmes à résoudre par l’intelligence, de la politique, ou n’importe quoi d’autre. Les joueurs vont tenter de résoudre les problèmes auxquels ils sont confrontés, et en retour le MJ fera en sorte qu’il soit possible de surmonter l’obstacle si les joueurs agissent intelligemment dans les limites du contrat.

Simulationniste : ce style veut que les événements en cours de partie soient résolus seulement à partir d’éléments internes à l’univers de jeu, sans qu’aucune considération de méta-jeu ne vienne affecter la décision. Ainsi, un MJ complètement simulationniste ne trafiquera pas les résultats pour sauver les PJ ou pour sauver son intrigue, ou ne modifiera même pas des faits inconnus des joueurs. Un tel MJ peut utiliser des considérations de méta-jeu pour répondre à des questions de méta-jeu, comme qui jouera quel personnage, doit-on interpréter une conversation mot pour mot, etc. mais pour résoudre les événements du jeu proprement dits, il se basera sur ce qui se passerait “réellement”.

4. Mais ces catégories se chevauchent, non ?
Il est vrai que ces objectifs ne sont pas opposés en permanence. À court terme, un conflit donné peut à la fois constituer un défi digne de ce nom et se résoudre de façon réaliste. Cependant, toute partie aura ses problèmes, y compris des passages sans intérêt dramatique, des passages irréalistes, et des passages déséquilibrés. Le Modèle s’attache à comparer les efforts que vous mettez pour résoudre chacun d’entre eux.

Une campagne, même parfaitement simulationniste ou ludiste, comportera quelques fragments de narration. Après tout, les gens racontent des histoires sur ce qui leur arrive dans la vraie vie, ou même dans ce qui s’est passé dans une partie d’échecs qu’ils ont jouée. De même, une campagne narrativiste comportera quelques conflits qui constitueront un vrai défi pour les joueurs, et quelques événements réalistes. Mais un MJ ludiste de même talent, qui ne se donnera pas un mal de chien pour la qualité de l’histoire, sera capable de créer de meilleurs défis. De même, un MJ simulationniste, qui se concentrera uniquement sur les résolutions d’action en jeu, pourra rendre ce monde de jeu plus “réaliste”.

5. Ce modèle est à chier ! Comment je m’en débarrasse ?
Vous ne pouvez pas vous en débarrasser totalement. C’est une idée dont quelques personnes parleront forcément. La meilleure façon de réduire son emploi dans les discussions est de ne pas en parler. Cette idée existait avant cette FAQ, et elle existera après sa disparition. Si vous croyez qu’elle n’est pas assez exacte ou pas assez complète (ce qu’elle n’est pas), alors inventez un meilleur modèle et parlez-en.

6. Mais mes histoires sont toujours crédibles ! Mes parties sont donc à la fois complètement narrativistes et complètement simulationnistes, non ?
Le simulationnisme n’est pas défini en termes de crédibilité, il est défini en termes de méthode. Par exemple, en tant que MJ vous pouvez avoir une intrigue en tête, et mettre si bien en place le décor et les personnages, que pendant la partie, l’intrigue se déroule sans que vous ayez à intervenir de manière notable. Un joueur très simulationniste pourrait ne pas remarquer que vous aviez construit les événements de manière à produire cette histoire. Cependant, s’il s’en rend compte, il se sentira trompé : vous aurez rompu son contrat favori.

À tort ou à raison, un pur simulationniste n’essaye pas simplement de produire une histoire crédible. Il essaye en fait de découvrir ce qui se passerait “en vrai” en modélisant ce que contient le monde de jeu. Bien sûr, il est impossible de simuler ça à la perfection, mais il trouve son compte à essayer.

Par exemple, disons que les PJ savent qu’une cible se cache dans un hôtel parmi huit, mais qu’ils ne peuvent pas trouver lequel à part en les fouillant. Un MJ narrativiste pourrait décider que pour des raisons de rythme, le second hôtel qu’ils fouillent sera le bon, de façon à ce que la partie ne s’éternise pas pendant qu’ils les font l’un après l’autre.
C’est tout à fait crédible, mais un MJ purement simulationniste refusera de le faire. Il est plus probable qu’il en choisisse un à l’avance et qu’il laisse les joueurs décider dans quel ordre ils les fouilleront. Les joueurs peuvent très bien trouver le bon immédiatement, ou ils peuvent s’échiner sur les sept autres avant.

7. Donc les narrativistes sont des acteurs ratés qui se payent un trip artistique, les ludistes sont des grosbills qui veulent battre le MJ et les simulationnistes sont des experts de règles qui ergotent sur des questions de balistique, c’est ça ?
Non, ce sont des stéréotypes extrêmes. Même s’ils comportent une part de vérité, le Modèle ne recherche pas le plus petit dénominateur commun. Il y a de bons et de mauvais exemples de chaque type de jeu.

Un pur narrativiste pourrait faire jouer un drame dur, sobre et réaliste où les PJ sont des personnages de la vraie vie qui peut-être se concentrent sur leur travail. Dans ce cas, l’histoire dramatique s’articulera peut-être autour de leurs inter-relations et de la tension ainsi produite. Les campagnes narrativistes incluent aussi les campagnes de comédie, où l’action du jeu est menée dans une perspective humoristique, plutôt que pour réaliser un “drame” plus classique. L’important est que les événements de la partie sont créés en fonction de la satisfaction que l’intrigue donne au groupe.

Un ludiste pourrait mener un jeu d’enquête où les PJ sont mis au défi de trouver le tueur non seulement à partir d’indices matériels, mais aussi de la personnalité et des motivations des suspects. Remarquez que ceci ressemble superficiellement à une histoire dramatique, mais l’important est ici que le mystère puisse être résolu par les joueurs, tout en leur donnant du fil à retordre. Une énigme purement narrativiste ferait peut-être une meilleure histoire, mais une enquête purement ludiste mettra davantage l’astuce des joueurs à l’épreuve.

Par définition, le simulationniste tentera d’être “réaliste” au sein de l’univers de jeu, bien qu’il puisse y avoir des lois naturelles différentes de celles du monde réel. Cependant, les joueurs ne sont pas nécessairement obsédés par les règles ou les lois de la physique. Une partie simulationniste peut tout autant être centrée sur les discussions politiques entre des personnalités importantes, ou sur des rebelles livrant une guerre de propagande pour rallier les masses à leur cause. De nombreux membres du forum ont mené des parties simulationnistes sans le moindre jet de dé.

Une enquête purement simulationniste débuterait par la recherche de comment le crime a été perpétré en se basant uniquement sur des éléments de l’univers de jeu. La conséquence logique peut très bien signifier que les joueurs peuvent résoudre le mystère facilement, ou ne peuvent pas le résoudre du tout, ou ne peuvent le résoudre qu’en le soumettant à l’attention d’autres autorités. Un MJ absolument simulationniste ne reviendra pas en arrière pour changer quoi que ce soit afin que l’enquête se déroule mieux pour les PJ.

8. Je ne crois pas être narrativiste ou simulationniste. Mais j’aime jouer, donc je dois être ludiste, pas vrai ?
Le ludisme n’est pas conçu comme une catégorie fourre-tout pour tout ce qui n’entre pas dans les deux autres catégories. Il s’oriente spécifiquement sur la création des défis dignes d’être relevés par les joueurs. Le Modèle n’a pas la prétention d’être un répertoire exhaustif et exclusif des types de jeu, et il n’est pas forcément complet. Plusieurs personnes ont suggéré une quatrième sorte de style, le “Social”. Cependant, la discussion est retombée parce qu’il n’y a pas eu de consensus quant à ce que ce style signifiait comparé aux autres, ou même s’il était possible d’en discuter de la même façon.

De nombreux aspects du jeu ne sont pas compris dans le Modèle. Par exemple, chacun des trois styles peut varier de “léger” à “sérieux”. Le jeu “Bière et chips” (Beer-and-pretzels) désigne habituellement l’exploration ludiste de souterrains, où vous essayez de casser du monstre. Cependant, il y a également des jeux narrativistes non sérieux, par exemple des histoires bien mielleuses de super-héros où les bons triomphent toujours des méchants. Remarquez que ce n’est pas du ludisme, vu qu’il n’y a pas de difficulté là-dedans : le gentil gagne toujours, c’est juste marrant de voir comment il le fait.
</p>
    
{% endblock %}