{% extends "base.html.twig" %}

{% block body %}

    <h1>Village Green vous aide..</h1>

    <h3 style="color: black;">Où nous trouver ?</h3>
    <p>Village Green est un commerce 100% en ligne, pas besoin de vous déplacer nous venons chez vous.</p>

    <h3 style="color: black;">Comment s'inscrire ? </h3>
    <p>Dans la rubrique Espace Client</p>

    
    
{% endblock %}